.site-commerce-search__form-wrapper {
  text-align: center;
}

.site-commerce-search__search-string {
  width: 60%;
  margin-top: 10px;
}

.site-commerce-search-autocomplete {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
  text-align: left;
}

.site-commerce-search-autocomplete a {
  color: #333333;
  display: block;
  position: relative;
  padding: 5px;
  text-decoration: none;
}

.site-commerce-search-autocomplete a:hover {
  background-color: #DDDDDD;
  text-decoration: none;
  border: transparent;
}