.site-commerce-block-content__read-more {
  margin: 0 0 1em 0;
}

.site-commerce-block-content__item {
  margin: 0 0 1em 0;
  padding: 1em;
}

.site-commerce-other-positions__title-link {
  font-size: 1.2em;
}

.site-commerce-block-content__data-title {
  overflow-wrap: break-word;
}